<div class=" container-fluid lote">
    <div class="info">
      <h1>Effective Software</h1>
      <h2>Sistema de inventario y facturación electrónica</h2>
      <h6>Diana Maria Gonzalez. Cel: 3178736068</h6>
      <h6>Luis Miguel Gonzalez. Cel: 3185222474</h6>
    </div>
    <div class="login-box">
        <img src="./assets/images/logo.png" class="avatar" alt="effective software">
        <h1>Ingrese aquí</h1>
        <form class=""  >
          <label for="username">Usuario</label>
          <input type="text" id="username" placeholder="Ingrese su usuario"/> 
      
          <label for="password">Clave</label>
          <input type="password" id="password" placeholder="Ingrese su clave"/> 
      
          <input type="submit" value="Ingresar"/>
      
          <a href="#">Olvidó su clave?</a>
        </form>
      </div>
      <div>
        
      </div>
</div>

